.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196f3;
    padding: 10px;
    grid-gap: 10px;
}

.grid-item{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.div-1{
    background-color: hsl(176, 90%, 44%);
    grid-column-start: 1;
    grid-column-end: 3;
}

.div-2{
    background-color: hsl(139, 75%, 48%);
    grid-column-start: 1;
    grid-column-end: 3;
}

.div-3{
    background-color: hsl(120, 77%, 59%);
    grid-row-start: 3;
    grid-row-end: 5;
}

.div-4{
    background-color: hsl(203, 95%, 39%);
}
